<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!--<mapping resource="qin/tinyshop8/domain/goods.hbm.xml"/>-->
        <!--<mapping resource="qin/tinyshop8/domain8/goods.hbm.xml"/>-->
        <mapping class="qin.tinyshop8.domain8.jpa.Goods8JPA"/>
        <mapping class="qin.tinyshop8.domain8.jpa.GoodsBrand8JPA"/>
        <mapping class="qin.tinyshop8.domain8.jpa.GoodsType8JPA"/>
        <mapping class="qin.tinyshop8.domain8.jpa.User8JPA"/>

    </session-factory>

</hibernate-configuration>